.header{
    height: 107px;
    position: relative;
}

.header .logo
{
    position: absolute;
    width: 76px;
    height: 61px;
    background: url("../../images/logo.png") no-repeat;
    top: 27px;
    left: 46px;
    cursor: pointer;
}

.header .language-switcher{
    position: absolute;
    top: 17px;
    left: 112px;
    text-transform: uppercase;
    font-size: 9px;
    font-family: 'Ubuntu', sans-serif;
}

.header .language-switcher a{
    color: #ed1c24;
    padding: 4px;
}

.header .language-switcher span{
    color: #000000;
    padding: 4px;
}

.main-page-content-wrapper .header .language-switcher span{
    color: #ffffff;

}

.main-page-content-wrapper .header .language-switcher{
    top: 44px;
    left: 22px;
}

.main-page-content-wrapper .header .language-switcher a,
.main-page-content-wrapper .header .language-switcher span{
    display: block;
}


a.join-us{
    display: block;
    position: absolute;
    height: 38px;
    width: 126px;
    top: 40px;
    right: 0;
    background-color: #990000;
    color: #ffffff;
    text-decoration: none;
}

a.join-us div{

    text-align: center;

    text-transform: uppercase;
    font-size: 10px;
    padding-top: 8px;
}

.main-menu
{
    font-size: 12px;
}

.main-menu ul{
    position: absolute;
    left: 120px;
    right: 100px;
    top: 44px;
    text-align: center;
}

.main-menu ul li{
    text-align: center;
    display: inline-block;
    list-style: none;
    width: 103px;
    margin: 0 43px;
    vertical-align: top;
    line-height: 16px;
    text-transform: uppercase;
    color: #666666;
}

.main-menu ul li span{
    background-color: #ffffff;
}

.main-menu ul li a{

    color: #666666;
    text-transform: uppercase;
}

.main-menu ul li.active a{

    color: #f00;
}

.main-menu li div,
.main-menu li span
{
    color: #f00;
}
