.header{
    height: 107px;
    position: relative;
}

.header .logo
{
    position: absolute;
    width: 76px;
    height: 61px;
    background: url("../../images/logo.png") no-repeat;
    top: 27px;
    left: 46px;
    cursor: pointer;
}


a.join-us{
    display: block;
    position: absolute;
    height: 38px;
    width: 126px;
    top: 40px;
    right: 0;
    background-color: #990000;
    color: #ffffff;
    text-decoration: none;
}

a.join-us div{

    text-align: center;

    text-transform: uppercase;
    font-size: 10px;
    padding-top: 8px;
}

.main-menu
{
    font-size: 12px;
}

.main-menu ul{
    position: absolute;
    left: 120px;
    right: 100px;
    top: 44px;
    text-align: center;
}

.main-menu ul li{
    text-align: center;
    display: inline-block;
    list-style: none;
    width: 103px;
    margin: 0 43px;
    vertical-align: top;
    line-height: 16px;
    text-transform: uppercase;
    color: #666666;
}

.main-menu ul li a{

    color: #666666;
    text-transform: uppercase;
}

