.authors-products{
    /*width: 1440px;*/
    /*position: relative;*/
    /*margin: 0 auto;*/
    min-width: 1440px;
}

.authors-products .titleContainer{
    height: 120px;
    background-color: rgba(255,255,255,.8);
    text-align: center;
}


.authors-products .titleContainer .title{
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    font-size: 22px;
    text-transform: uppercase;
    text-align: center;
    margin-top: 50px;
    display: inline-block;
    position: relative;
}


.authors-products .titleContainer .title .logo
{
    position: absolute;
    width: 38px;
    height: 35px;
    background: url("../../images/logo-medium.png");
    top: -22px;
    left: -32px;
}

.authors-products .authors-container{
    position: relative;
    padding: 0 24px;
    /*border: 1px solid royalblue;*/

    width: 1440px;
    margin: 0 auto;

}



.authors-products .author-container{
    text-align: center;
    /*width: 324px;*/
    margin: 25px 12px;
    /*width: 300px;*/
    float: left;
    /*border: 1px solid #ff0000;*/
}

.authors-products .author-container .image{
    width: 324px;
    height: 324px;
    background-color: #ffffff;

}

.authors-products .author-container .image img{
    width: inherit;
    height: inherit;
}

.authors-products .author-container .description{
    background-color: #ffffff;
    margin-top: 10px;
    width: 324px;
}

.authors-products .author-container .description .title{
    padding: 20px 0;
    font-weight: bold;
}

.authors-products .author-container .description .tags{
    padding-bottom: 20px;
    text-align: center;
}

.authors-products .author-container .description .tags .tag{
    display: inline-block;
    background-color: #efefef;
    margin-top: 3px;
    margin-left: 1px;
    margin-right: 1px;
    font-size: 10px;
    color: #afafaf;

}
.authors-products .author-container .description .tags .tag a{
    color: inherit;
    text-decoration: none;
    display: block;
    padding:5px;
}