.event-details-content-wrapper {
    min-width: 1440px;
    position: relative;
    margin: 0 auto;
    /*max-width: 1440px;*/
}

.event-details {

}

.event-details .title-container {
    background: url("../../images/event-info-bg.gif");
    padding-top: 30px;
    text-align: center;
    padding-bottom: 20px;
}

.event-details .title-wrapper {
    color: #212121;
}

.event-details .title-wrapper .title-mini-description {
    font-size: 13px;
    font-family: 'Lato-Bold-Italic', Georgia;
    font-style: italic;
}

.event-details .title-wrapper .title {
    margin-top: 5px;
    font-size: 26px;
    text-transform: uppercase;
}

.event-details .title-wrapper .location {
    font-size: 12px;
    text-transform: uppercase;
    margin-top: 5px;
}

.event-details .title-wrapper .location span {
    border-bottom: 1px dotted #212121;;
    cursor: pointer;
}

.event-details .get-invite-wrapper {
padding-top: 20px;
    padding-bottom: 5px;
}

.event-details .get-invite {
    height: 26px;
    display: inline-block;
    padding-top: 6px;
}

.event-details .get-invite.center {
    background: url("../../images/get-invite-center.png") repeat-x;
    text-transform: uppercase;
    color: #ffffff;
    padding-left: 5px;
    padding-right: 3px;

}

.event-details .get-invite.left {
    background: url("../../images/get-invite-left.png") no-repeat;
    width: 25px;
}

.event-details .get-invite.right {
    background: url("../../images/get-invite-right.png") no-repeat;
    width: 27px;
}

.event-details .event-properties-container
{
    padding-top: 36px;
    height: 102px;
    color: #9e0b0f;
}

.event-details .event-properties-wrapper{
    text-align: center;
    text-transform: uppercase;
}

.event-details .event-property
{
    display: inline-block;
    margin: 0 70px;
}

.event-details .event-property .property-title{
    font-size: 9px;
    letter-spacing: 1px;
}

.event-details .event-property.date{

}

.event-details .event-property.duration{

}

.event-details .interval-quantity{

}

.event-details .price{

}

.event-property-wrapper{
    font-size: 20px;
    font-family: 'LatoBlack';
}

.event-property-wrapper .event-property-inner{
    display: inline-block;

}

.event-property-wrapper .event-property-inner.left{
    width: 18px;
    background: url("../../images/event-property-wave-left.png") no-repeat center center;

}

.event-property-wrapper .event-property-inner.right{
    width: 18px;
    background: url("../../images/event-property-wave-right.png") no-repeat center center;
}

.event-property-wrapper .event-property-inner.center{
    padding:0 7px;
    letter-spacing: 1px;
}

.event-details .image-slider
{
    height: 283px;
    overflow: hidden;
}

.event-details .image-slider .image-slider-images-wrapper
{
    width: 9999px;
    height: 283px;
}

.event-details .image-slider .slide
{
    width: 400px;
    height: 283px;
    display: inline-block;
}

.event-details .image-slider .slide0
{
    background: url("../../images/content/gti.jpg");
    background-size: cover;
}
.event-details .image-slider .slide1
{
    background: url("../../images/content/10684110_290072504519482_631549677_n.jpg");
    background-size: cover;
}
.event-details .image-slider .slide2
{
    background: url("../../images/content/204820.jpg");
    background-size: cover;
}
.event-details .image-slider .slide3
{
    background: url("../../images/content/2048.jpg");
    background-size: cover;
}
.event-details .image-slider .slide4
{
    background: url("../../images/content/2048t.jpg");
    background-size: cover;
}
.event-details .image-slider .slide5
{
    background: url("../../images/content/cover_2048.jpg");
    background-size: cover;
}
.event-details .image-slider .slide6
{
    background: url("../../images/content/204817.jpg");
    background-size: cover;
}
.event-details .image-slider .slide7
{
    background: url("../../images/content/204825.jpg");
    background-size: cover;
}
.event-details .image-slider .slide8
{
    background: url("../../images/content/204826.jpg");
    background-size: cover;
}


.event-details .event-description-container{
    background: url("../../images/event-info-bg.gif");
    padding-top: 70px;
    padding-bottom: 70px;
    text-align: center;
}

.event-details .event-description-container .event-description-item{
    width: 400px;
    padding: 55px 55px 35px 55px;
    border: 1px solid #aaa9a6;
    display: inline-block;
    margin: 0 20px;
    font-size: 12px;
    text-align: left;
    vertical-align: top;
    line-height: 23px;
    position: relative;
}

.event-details .event-description-container .event-description-item .title{
    font-family: 'LatoHeavy';
    font-size: 20px;
    color: #404040;
    text-transform: uppercase;
    position: absolute;
    margin-left: 70px;
    margin-top: -66px;
    padding: 0 20px;
    background: url("../../images/event-info-bg.gif");
}

.event-details .event-description-container .event-description-item .text{
    height: 116px;
    overflow: hidden;
}


.event-details .event-description-container .event-description-item .bottom-logo-container{
    background: url("../../images/event-info-bg.gif");
    width: 40px;
    height: 24px;
    position: absolute;
    bottom: -12px;
    left: 180px;
}


.event-description-item.full .show-more-button
{
    background-position: 0 0;
}

.event-description-item.full .grad-panel
{
    background:none;
}

.event-description-item.full .text
{
    height: auto !important;
}



.event-details .event-description-container .event-description-item .bottom-logo-container .bottom-logo{
    background: url("../../images/logo-small.png") no-repeat center;
    width: 26px;
    height: 24px;
    position: relative;
    margin:  0 auto;
}

.event-details .show-more-button
{
    position: relative;
    margin: 0 auto;
    width: 33px;
    height: 33px;
    background: url("../../images/more-less-btn.png");
    cursor: pointer;
}

.event-details .show-more-button-container
{
    position: relative;
    margin-top: -85px;
}

.event-details .show-more-button
{
    position: relative;
    margin: 0 auto;
    width: 33px;
    height: 33px;
    cursor: pointer;
    background: url("../../images/more-less-btn.png") 0 33px;
}

.event-details .show-more-button
{
    background-position: 0 33px;
}



.event-details .grad-panel{
    height: 80px;
    background: linear-gradient(transparent, rgba(231,227,218,.9)); /* Standard syntax */
    margin-bottom: 20px;
}
