.main-page-content-wrapper {
    background-color: #ffffff;
}

.main-image-content-wrapper
{
    height: 966px;
}

.main-image-content{
    position: absolute;
    height: 966px;
    width: 100%;

    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
    opacity:0;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);

    overflow: hidden;
}



.main-image-content.active{
    opacity:1;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=1);
}

.main-image-content img{
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%) scale(1, 1);
    transform: translate(-50%,-50%) scale(1, 1);

    -webkit-transition: -webkit-transform 30s ease-in 1s;
    transition: transform 30s ease-in 1s;

    min-height: 100%;
    min-width: 100%;
}

.main-image-content.active img
{
    -webkit-transform: translate(-50%,-50%) scale(2, 2);
    transform: translate(-50%,-50%) scale(2, 2);
}


.main-page-content-wrapper .header {
    height: 170px;
    position: fixed;
    width: 100%;
    min-width: 1200px;
    background-color: rgba(0,0,0,0.5);
    z-index: 10001;
}

.main-page-content-wrapper .header .logo{
    width: 89px;
    height: 71px;
    background: url("../../images/logo-white.png") no-repeat;
    top: 50px;
    left: 60px;
    cursor: default;
}

.main-page-content-wrapper .main-menu ul{
    top: 66px;
}

.main-page-content-wrapper .main-menu ul li a{
    color: #ffffff;
}

.main-page-content-wrapper a.join-us{
    top: 66px;
}

.content-blocks {
}

.content-block
{
    height: 811px;
}

.main-image-content .main-title-wrapper{
    display: none;
}

.main-image-content.active .main-title-wrapper{
    display: block;
    z-index: 10000;
}

.content-block .description,
.content-block .images-container
{
    width: 50%;
    float: left;
    height: 811px;
}

.content-block .images-container
{
    /*background-size: cover;*/
    position: relative;
}

.content-block .images-container .image
{
    height: 811px;
    background-size: cover;
    position: absolute;
    width: 100%;

    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
    opacity:0;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
}

.content-block .images-container .image.active
{
    opacity:1;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=1);
}


/*.image0*/
/*{*/
    /*background: url("../../images/content/main-page-block-bg0.jpg");*/
/*}*/

/*.image1*/
/*{*/
    /*background: url("../../images/content/main-page-block-bg1.jpg");*/
/*}*/

.content-block .description .description-content-wrapper{
    background: url("../../images/logo-medium.png") no-repeat;
    text-align: left;
    padding: 35px 40px;
    position: relative;

    margin: 200px 100px 0;
}

.content-block .description .description-content-wrapper .title
{
    /*font-family: 'Museo Sans Cyrl 900';*/
    font-family: 'Ubuntu', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 22px;
}

.content-block .description .description-content-wrapper .text
{
    /*font-family: 'Museo Sans Cyrl 300';*/
    font-family: 'Ubuntu', sans-serif;
    margin-top: 25px;
    line-height: 23px;
}



.main-title-wrapper {
    color: #ffffff;
    position: absolute;
    right: 50px;
    width: 500px;
    height: 300px;
    top: 400px;
    text-align: right;

}

.main-title-wrapper .title {
    /*font-family: "Lato-Bold", Georgia;*/
    font-size: 50px;
    letter-spacing: 3px;
    position: relative;
}

.main-title-wrapper .separator {
    width: 47px;
    position: absolute;
    height: 3px;
    background-color: #e11b22;
    right: 0;
    margin-top: 15px;
}

.main-title-wrapper .description {
    font-family: 'PT Sans', sans-serif;
    margin-top: 40px;
    line-height: 26px;
}

/*.main-image-content.active */
.main-title-wrapper .details {
    margin-top: 30px;
    display: block;
    cursor: pointer;
    position: relative;
}

.main-title-wrapper .details .arrow,
.main-title-wrapper .details .text {
    float: right;
    height: 26px;

}

.main-title-wrapper .details .arrow {
    width: 16px;
    background: url("../../images/main-page-details-arrow.png") no-repeat;
}

.main-title-wrapper .details .text {
    width: 180px;
    text-align: center;

}

.main-title-wrapper .details .text
{
    font-family: 'PT Sans', sans-serif;
    color: #ffffff;
    text-decoration: underline;
}