.bxsliderProductDetailsContainer{
    position: relative;
    margin: 0 auto;
}

.bxsliderProductDetailsContainer img{
    position: relative;
    margin: 0 auto;
}

.productDetailsInfo
{
    width: 900px;
    /*height: 100px;*/
    position: absolute;
    left: 50%;
    top: 20px;
    margin-left: -450px;
    /*background-color: #0072bc;*/
    z-index: 10000;
    text-align: center;
}

.productDetailsInfo .title{
    position: relative;
    margin: 0 auto;
    text-align: center;
    background-color: rgba(255,255,255, .5);
    display: inline-block;
    padding: 3px 13px;
    font-size: 36px;
    color: #242424;
}

.productDetailsInfo .tags{
    position: relative;
    margin-top: 15px;
}

.productDetailsInfo .product-description-tag{
    background-color: rgba(255,255,255, .5);
    font-size: 16px;
    padding: 3px;
    margin: 3px;
}

.productDetailsInfo .price{
    position: relative;
    margin-top: 15px;
    background-color: rgba(255,255,255, .5);
    padding:0 5px;
    display: inline-block;
    font-size: 30px;
}

.productDetailsAuthorInfo{

    /*height: 100px;*/

    width: 760px;

    position: relative;
    margin: 0 auto;

    /*background-color: #0072bc;*/

    /*text-align: center;*/
}

.productDetailsAuthorInfo .authorAvatar{
    width: 150px;
    height: 150px;
    /*border-radius: 75px;*/
    /*-webkit-border-radius: 75px;*/
    /*-moz-border-radius: 75px;*/
    float: left;
}

.productDetailsAuthorInfo .authorAvatar img{
    width: 150px;
    height: 150px;
    border-radius: 75px;
    -webkit-border-radius: 75px;
    -moz-border-radius: 75px;
}

.productDetailsAuthorInfoTextWrapper{

    margin-top: 20px;

}

.productDetailsAuthorInfoTextTriangle{
    float: left;
    width: 20px;
    height: 20px;
    border: 20px solid transparent;
    border-right-color: #002157;
    margin-top: 55px;
    margin-left: -10px;
}

.productDetailsAuthorInfoTextContent{
    background-color: #002157;
    float: left;
    min-height: 150px;
    width: 560px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    position: relative;

    text-align: left;
    padding: 30px;
}

.productDetailsAuthorInfoTextContentCloseBtn{
    width: 20px;
    height: 21px;
    background: url("../../images/close-btn.png") no-repeat;

    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
}

.productDetailsAuthorInfoTextContentTitle{

    color: #ffffff;
    font-size: 20px;
    text-transform: uppercase;
}

.productDetailsAuthorInfoTextContentText{
    margin-top: 10px;
    color: #fffbb3;
    font-family: Georgia,serif;
    font-size: 14px;
    font-style: italic;

}