.footer {
    height: 150px;
    position: relative;
    font-size: 12px;
    color: #3b3b3b;
}
.footer a
{
    color: #0072bc;
}

.footer .copyright{
    position: absolute;
    height: 51px;
    left: 67px;
    background: url("../images/logo-copyright.png") no-repeat;
    width: 300px;
    top: 48px;
    padding-top: 32px;
    padding-left: 33px;

}

.footer .em{
    position: absolute;
    height: 37px;
    width: 205px;
    background: url("../images/em-logo.png") no-repeat;
    top: 60px;
    right: 86px;
    padding-left: 60px;
    line-height: 16px;
    padding-top: 3px;
}