.news-content-wrapper{

}

.news-blocks{

}

.news-block{
    margin: 8px;
    float: left;
    background-color: #000000;
}

.news-block-1x1{
    width: 340px;
    height: 290px;
}

.news-block-2x1{
    width: 696px;
    height: 290px;
}

.news-block-1x2{
    width: 340px;
    height: 596px;
}

.news-block-2x2{
    width: 696px;
    height: 596px;
}

.news-block .title-wrapper{

}

.news-block .title-wrapper.top
{
    margin-top: 12px;
}

.news-block .title-wrapper.bottom{

}

.news-block .date{
    background-color: #921a1d;
    width: 85px;
    height: 23px;
    font-family: 'Lato', Georgia;
    font-size: 12px;
    color: #ffffff;
}

.news-block .title{
    font-family: 'LatoBlack';
    font-size: 15px;
    text-transform: uppercase;
    color: #ffffff;

}