* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    /*font-family: 'Lato', sans-serif;*/
    background: url("../img/site-bg.png");
    font-family: "Lato", Georgia;
}

.page {
    min-width: 1200px;
    position: relative;
    margin: 0 auto;
}



.clear
{
    clear: both;
}