.subMenuWrapper{
    text-align: center;
    margin: 20px auto;
}

.subMenu {
    position: relative;
    display: inline-block;
    padding: 5px 0;
    text-align: center;
    border: 2px solid #ffffff;
    font-size: 12px;
}

.subMenu .item{
    display: inline-block;
    text-align: center;
    /*border: 1px solid #ff0000;*/
    padding: 0 18px;
    color: #0072bc;
}

.subMenu .item.active{
    color: #ff3333;
}

.subMenu .item a{
    color: #0072bc;
}

.subMenu .separator{
    vertical-align: middle;
    height: 33px;
    display: inline-block;
    border: 1px solid #ffffff;
}